/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
}

body {
	background-color: #f5f5f5 !important;
}

.well.well-project {
	background-color: #fff !important;
	border-radius: 0px;
	padding: 0px;
}
.well-project .well-project-title {
	font-weight: bold;
	font-size: 11px;
	border-bottom: 1px solid #e3e3e3;
	padding: 10px;
	padding-left: 14px;
	text-transform: uppercase;
}

/*.icheckbox-todo.checked {
	background-color: #3aafda !important;
}*/

.navbar.navbar-todo {
	background-color: #3aafda !important;
	color:white;
}

.well-project .well-project-todo {
	margin-top: 10px
}
.well-project .well-project-todo ul {
	padding-left: 25px;
}
.well-project .well-project-todo ul li {
	list-style-type: none;
	margin-bottom: 10px;
}

.well-project .well-project-todo ul li span {
	padding-left: 15px; 
}

.btn-show-form {
	cursor: pointer;
}


#logo-title {
    top:50%;
    left:50%;
    width:162px;
    height:50px;
    position:absolute;
    text-align:center;
    margin: -25px 0 0 -31px;
}