// import vendor libs
@import "bootstrap/scss/bootstrap-grid"; // include only grid
// @import "select2/dist/css/select2.css";
@import "select2/src/scss/core.scss"; 
@import "iCheck/skins/square/blue.css"; 

// variables
$primaryColor: #3aafda;

@import "fronts"; // our fronts
@import "form";
@import "modal";

* {
	font-family: OpenSans-Light;
}

body {
	background-color: #f5f5f5 !important;
}

a {
	text-decoration: none;
}

.modal-add-todo form {
	padding: 10px;
}

.well.well-project {
	min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;

    -webkit-box-shadow: 2px 5px 24px -2px rgba(0,0,0,0.24);
	-moz-box-shadow: 2px 5px 24px -2px rgba(0,0,0,0.24);
	box-shadow: 2px 5px 24px -2px rgba(0,0,0,0.24);

	background-color: #fff !important;
	border-radius: 0px;
	padding: 0px;

	.well-project-title {
		font-weight: bold;
		font-size: 11px;
		border-bottom: 1px solid #e3e3e3;
		padding: 10px;
		padding-left: 14px;
		text-transform: uppercase;
	}

	.well-project-todo li .icheckbox_square-blue.checked + span {
		text-decoration: line-through;
	}

	.well-project-todo {
		margin-top: 10px;
		ul {
			padding-left: 25px;
			li {
				list-style-type: none;
				margin-bottom: 10px;

				span {
					padding-left: 15px; 
				}
			}
		}
	}
}

.icon-plus {
	background-image: url(image_path("addTodoIcon.png"));
	display: block;
	width: 20px;
	height: 20px;
}

.navbar {
	background-color: $primaryColor;
	color:white;

	display: block;

	top: 0;
    border-width: 0 0 1px;

    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;

    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;

    .navbar-brand {
	    float: left;
	    height: 50px;
	    padding: 15px 15px;
	    font-size: 18px;
	    line-height: 20px;
	}

	.navbar-right {
		float: right;
	}

	.logo-title {
		top:50%;
	    left:50%;

	    position:absolute;
	    text-align:center;
	}
}

.btn-show-form {
	cursor: pointer;
}

.btn {
	cursor: pointer;
	display: inline-block;
	border-radius: 0px;
	border-width: 0px;
	text-align: center;

	background-color: $primaryColor;
	color: #fff;
	border-radius: 0px;
	text-transform: uppercase;
	font-size: 12px;
	padding: 7px 14px;
}
.btn.btn-cancel {
	background-color: #999;
}