@font-face {
  font-family: 'OpenSans-Light';
  src: url('OpenSans-Light.ttf');
  
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('OpenSans-Regular.ttf');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('OpenSans-Semibold.ttf');

  font-weight: normal;
  font-style: normal;
}