<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-brand logo-title">
          <div>Задачи</div>
        </div>
        <div class="navbar-brand navbar-right">
        	<a href="#" class="btn-show-form">
          		<i class="icon-plus"></i>
          	</a>
        </div>
      </div>
    </nav>

    <div class="content">
    	<%= yield %>
	</div>

  </body>
</html>
