<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/all.css">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">

  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand logo-title">
          <div>Задачи kfjsdhfl jsdljf jsdlfjlk sdfjlsd jflksjd f</div>
        </div>
        <div class="navbar-brand navbar-right">
        	<a href="#">
          		<i class="icon-plus"></i>
          	</a>
        </div>
      </div>
    </nav>

    <div style="margin-top: 70px">
    	<%= yield %>
	</div>

  </body>
</html>
